@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,700;1,400&family=Roboto:wght@400;700&display=swap");
/* laranja:#FF6000
cinzaestuco:#454545
laranjaclaro:#FFA559
pastel:#FFE6C7 */
* {
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #212a3e;
  color: #fff;
  font-weight: 200;
}
#main {
  width: 600px;
  margin: 40px auto 70px;
  background-color: #394867;
  text-align: center;
  border-radius: 20px;
}
nav {
  margin-bottom: 40px;
  padding-top: 25px;
}

img {
  width: 240px;
}
h1 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 25px;
}
span {
  color: #ff6000;
}
p {
  line-height: 22px;
}
p span {
  font-weight: 700;
}
footer {
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #ff6000;
  font-size: 20 px;
  font-weight: 700;
}
a + a {
  margin-left: 18px;
}
